fastapi==0.138.1
langchain_classic==1.0.8
langchain_community==0.4.2
langchain_core==1.4.8
langchain_deepseek==1.1.0
langchain_huggingface==1.2.2
langchain_text_splitters==1.1.2
numpy==2.5.0
pydantic==2.13.4
python-dotenv==1.2.2
Requests==2.34.2
rouge_score==0.1.2
scikit_learn==1.9.0
sentence_transformers==5.5.1
tqdm==4.68.2
uvicorn==0.49.0
pymupdf
faiss-cpu